<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scowalt.newlegacyincapp" version="10.20.00" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>newLEGACYinc</name>
    <description>
        The official mobile application of newLEGACYinc!
    </description>
    <author email="me@scowalt.com">
        Scott Walters
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="BackupWebStorage" value="local" />
    <platform name="android">
        <icon density="ldpi" src="icons/android.png" />
        <icon density="mdpi" src="icons/android.png" />
        <icon density="hdpi" src="icons/android.png" />
        <icon density="xhdpi" src="icons/android.png" />
    </platform>
    <platform name="android">
        <splash density="land-hdpi" src="splash/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-ldpi" src="splash/android/images/res-long-land-ldpi/default.png" />
        <splash density="land-mdpi" src="splash/android/images/res-long-land-mdpi/default.png" />
        <splash density="land-xhdpi" src="splash/android/images/res-long-land-xhdpi/default.png" />
        <splash density="port-hdpi" src="splash/android/images/res-long-port-hdpi/default.png" />
        <splash density="port-ldpi" src="splash/android/images/res-long-port-ldpi/default.png" />
        <splash density="port-mdpi" src="splash/android/images/res-long-port-mdpi/default.png" />
        <splash density="port-xhdpi" src="splash/android/images/res-long-port-xhdpi/default.png" />
    </platform>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="false" />
        <param name="AutoHideSplashScreen" value="false" />
    </feature>
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <gap:plugin name="org.apache.cordova.device" version="~0.2" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="com.phonegap.plugins.PushPlugin" version="~2.4" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-fcm" spec="^2.1.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
