<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scowalt.newlegacyincapp" version="1.1.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>newLEGACYinc</name>
    <description>
        The official mobile application of newLEGACYinc!
    </description>
    <author email="me@scowalt.com">
        Scott Walters
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="BackupWebStorage" value="local" />
    <platform name="android">
        <icon density="ldpi" src="icons/android.png" />
        <icon density="mdpi" src="icons/android.png" />
        <icon density="hdpi" src="icons/android.png" />
        <icon density="xhdpi" src="icons/android.png" />
    </platform>
    <icon gap:platform="ios" height="152" src="icons/ios/ios-152.png" width="152" />
    <icon gap:platform="ios" height="120" src="icons/ios/ios-120.png" width="120" />
    <icon gap:platform="ios" height="76" src="icons/ios/ios-76.png" width="76" />
    <icon gap:platform="ios" height="72" src="icons/ios/ios-72.png" width="72" />
    <icon gap:platform="ios" height="57" src="icons/ios/ios-57.png" width="57" />
    <platform name="android">
        <splash density="land-hdpi" src="splash/android/images/res-long-land-hdpi/default.png" />
        <splash density="land-ldpi" src="splash/android/images/res-long-land-ldpi/default.png" />
        <splash density="land-mdpi" src="splash/android/images/res-long-land-mdpi/default.png" />
        <splash density="land-xhdpi" src="splash/android/images/res-long-land-xhdpi/default.png" />
        <splash density="port-hdpi" src="splash/android/images/res-long-port-hdpi/default.png" />
        <splash density="port-ldpi" src="splash/android/images/res-long-port-ldpi/default.png" />
        <splash density="port-mdpi" src="splash/android/images/res-long-port-mdpi/default.png" />
        <splash density="port-xhdpi" src="splash/android/images/res-long-port-xhdpi/default.png" />
    </platform>
    <platform name="ios">
        <splash height="480" src="splash/iphone/Default.png" width="320" />
        <splash height="960" src="splash/iphone/Default@2x.png" width="640" />
        <splash height="1024" src="splash/iphone/Default-Portrait.png" width="768" />
        <splash height="2048" src="splash/iphone/Default-Portrait@2x.png" width="1536" />
        <splash height="768" src="splash/iphone/Default-Landscape.png" width="1024" />
        <splash height="1536" src="splash/iphone/Default-Landscape@2x.png" width="2048" />
        <splash height="1136" src="splash/iphone/Default-568h@2x.png" width="640" />
        <splash height="1334" src="splash/iphone/Default-667h@2x.png" width="750" />
        <splash height="2208" src="splash/iphone/Default-Portrait-736h@3x.png" width="1242" />
        <splash height="1242" src="splash/iphone/Default-Landscape-736h@3x.png" width="2208" />
    </platform>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
        <param name="onload" value="false" />
        <param name="AutoHideSplashScreen" value="false" />
    </feature>
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <gap:plugin name="org.apache.cordova.device" version="~0.2" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="com.phonegap.plugins.PushPlugin" version="~2.4" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="phonegap-plugin-push" spec="https://github.com/phonegap/phonegap-plugin-push" />
</widget>
