.left {
	text-align: left;
	width: 27%;
}

.center {
	width: 46%;
	text-align: center;
}

.right {
	width: 27%;
}

.item {
	padding: 10px;
	line-height: 1;
}
.item-thum {
	background-color: #ccc;
	width: 50px;
	height: 200px;
	border-radius: 4px;
}
.item-title {
	font-size: 15px;
	font-weight: 500;
}
.item-desc {
	font-size: 14px;
	color: #A09774;
	line-height: 1.3;
	margin: 4px 0 0 0;
	padding: 0 30px 0 0;
}
.item-label {
	font-size: 12px;
	color: #999;
	float: right;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}

.menu-list ons-list-item {
	text-align: center;
	padding: 0px;
	font-size: 50px;
	height: 70px;
	margin: 5px auto 5px auto;
}

.menu-list ons-list-item ons-icon {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 1em;
}

.thumb-col ons-icon {
	font-size: 50px;
}

.thumb-col img {
	width: 50px;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

a.fake-active{
	color: #CEC271;
}

ons-icon {
	color: #CEC271;
}

.button {
	background-color: #87762D;
}

.switch__input:checked + .switch__toggle {
	background-color: #CEC271;
}

/* http://www.paulund.co.uk/css3-image-filters */
img.offline {
	-webkit-filter: grayscale(75%);
	-webkit-backface-visibility: hidden; /* fix blurrry img http://stackoverflow.com/a/15472358/1222411 */
}

.settings-item > ons-icon {
	float: right;
	-webkit-transform: translateY(50%); /* hacky vertical align that works */
	width: 22px; /* make unchecked and checked the same width */
}

.thumb-col {
	position: relative;
}

.thumb-col > * {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

#about-page-wrapper {
	padding: 10px;
}

#about-page-wrapper > p {
	margin: 0px
}

#about-page-wrapper h1,h2,h3,h4,h5,h6 {
	margin-bottom: 5px;
}

#about-page-wrapper a {
	text-decoration: none;
}

#about-page-wrapper a:link {
	color: #CEC271;
}

#about-page-wrapper a:visited {
	color: #A39A5B;
}