<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' 'unsafe-inline' data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *; connect-src http://api.hitbox.tv https://newlegacyinc-app-server-dev.herokuapp.com file:">

  <title>com.newLEGACYinc.app</title>

  <!-- Onsen UI CSS -->
  <link rel="stylesheet" href="components/OnsenUI/css/onsenui.css">
  <link rel="stylesheet" href="components/OnsenUI/css/onsen-css-components-dark-theme.css">

  <!-- Angular JS -->
  <script src="components/angular/angular.min.js"></script>

  <!-- Markdown parser -->
  <script src="components/marked/marked.min.js"></script>

  <!-- Onsen UI JS -->
  <script src="components/OnsenUI/js/onsenui.min.js"></script>

  <!-- Phonegap library -->
  <script src="cordova.js"></script>

  <!-- Moment (date parsing) -->
  <script src="components/moment/min/moment.min.js"></script>

  <!-- Zepto -->
  <script src="components/zepto/zepto.min.js"></script>

  <!-- Secrets -->
  <script src="js/secrets.js"></script>

  <!-- Controllers -->
  <script src="js/controllers/about.js"></script>
  <script src="js/controllers/master.js"></script>
  <script src="js/controllers/settings.js"></script>

  <!-- Services -->
  <script src="js/services/about.js"></script>
  <script src="js/services/hitbox.js"></script>
  <script src="js/services/http-request.js"></script>
  <script src="js/services/main.js"></script>

  <!-- Main (app) -->
  <script src="js/app.js"></script>
  <script>
    ons.ready(function() {
    });
  </script>
  <link rel="stylesheet" href="styles/app.css"/>
</head>

<body>
<ons-sliding-menu
  main-page="main.html"
  menu-page="menu.html"
  side="left"
  max-slide-distance="70px"
  var="menu"
  >
</ons-sliding-menu>

<!-- Main page -->
<ons-template id="main.html">
  <ons-navigator>
    <ons-page>
      <div ng-include
           ng-init="pageTitle='newLEGACYinc'"
           src="'toolbar.html'">
      </div>

      <ons-list mainlist>
        <ons-list-item id="hitbox" modifier="light" class="item" ng-controller="HitboxController">
          <ons-row>
            <ons-col width="60px" class="thumb-col">
              <img ng-click="hitbox.onClick()"
                   ng-class="(hitbox.status === '1') ? 'online' : 'offline'"
                   src="res/hitbox_logo.png">
            </ons-col>
            <ons-col>
              <a id="hitbox-clickable" ng-click="hitbox.onClick()">
                <header>
                  <span class="item-title">{{hitbox.username}}</span>
                </header>
                <p class="item-desc">
                  <span ng-if="hitbox.error"><ons-icon icon="ion-alert-circled"></ons-icon></span>
                  <span ng-if="hitbox.status === '1'">
                  <span ng-if="hitbox.description">
                    {{hitbox.description}}
                  </span>
                  <span ng-if="typeof (hitbox.description) === 'undefined'">
                    online
                  </span>
                </span>
                  <span ng-if="hitbox.status === '0'">last online - {{hitbox.lastOnline}}</span>
                  <span ng-if="(typeof (hitbox.status) === 'undefined' || hitbox.status === null) && !hitbox.error"><ons-icon icon="ion-loading-c"></ons-icon></span>
                </p>
              </a>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item id="youTube" modifier="light" class="item" ng-controller="YouTubeController">
          <ons-row>
            <ons-col width="60px" class="thumb-col">
              <div ng-click="youTube.logoClick()"><ons-icon icon="ion-social-youtube-outline" style="color: #DF2925;font-size: 45px;"></ons-icon></div>
            </ons-col>
            <ons-col>
              <a ng-click="youTube.videoClick()" id="youTube-video-link">
                <header>
                  <span class="item-title">{{youTube.video.snippet.title}}</span>
                </header>
                <p class="item-desc">
                  <span ng-if="youTube.error"><ons-icon icon="ion-alert-circled"></ons-icon></span>
                  <span ng-if="youTube.video">{{youTube.video.snippet.description}}</span>
                  <span ng-if="!youTube.video && !youTube.error"><ons-icon icon="ion-loading-c"></ons-icon></span>
                </p>
              </a>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item id="twitter" modifier="light" class="item" ng-controller="TwitterController">
          <ons-row>
            <ons-col width="60px" class="thumb-col">
                <div ng-click="twitter.logoClick()"><ons-icon icon="ion-social-twitter-outline" style="color: #00B0ED"></ons-icon></div>
            </ons-col>
            <ons-col>
              <a id="twitter-tweet-link" ng-click="twitter.tweetClick()">
                <header>
                  <span class="item-title">@{{twitter.username}}<span ng-if="twitter.time_ago"> - {{twitter.time_ago}}</span></span>
                </header>
                <p class="item-desc">
                  <span ng-if="twitter.error"><ons-icon icon="ion-alert-circled"></ons-icon></span>
                  <span ng-if="twitter.status">{{twitter.status}}</span>
                  <span ng-if="!twitter.status && !twitter.error"><ons-icon icon="ion-loading-c"></ons-icon></span>
                </p>
              </a>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item id="instagram" modifier="light" class="item" ng-controller="InstagramController">
          <ons-row>
            <ons-col width="60px" class="thumb-col">
              <div ng-click="instagram.logoClick()"><ons-icon icon="ion-social-instagram-outline" style="color: #D3C2B2;font-size: 60px;"></ons-icon></div>
            </ons-col>
              <ons-col>
                  <a id="instagram-link" ng-click="instagram.itemClick()">
                      <header>
                          <span class="item-title">{{instagram.username}}<span ng-if="instagram.time_ago"> - {{instagram.time_ago}}</span></span>
                      </header>
                      <p class="item-desc">
                          <span ng-if="instagram.error"><ons-icon icon="ion-alert-circled"></ons-icon><br/></span>
                          <span ng-if="instagram.status">{{instagram.status}}</span>
                          <span ng-if="!instagram.status && !instagram.error"><ons-icon icon="ion-loading-c"></ons-icon><br/></span>
                      </p>
                  </a>
              </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

      <span featureimage>
        <div id="feature-gradient" ng-style="{'height': gradientHeight + 'px'}"></div>
        <img id="feature-img" src="./res/feature.jpg">
      </span>
    </ons-page>
  </ons-navigator>
</ons-template>

<!-- Side menu -->
<ons-template id="menu.html">
    <ons-list class="menu-list">
      <ons-list-item onclick="menu.setMainPage('main.html', {closeMenu: true})">
        <ons-icon icon="ion-home">
        </ons-icon>
      </ons-list-item>
      <ons-list-item onclick="menu.setMainPage('settings.html', {closeMenu: true})">
        <ons-icon icon="ion-gear-b">
        </ons-icon>
      </ons-list-item>
      <ons-list-item onclick="menu.setMainPage('about.html', {closeMenu: true})">
        <ons-icon icon="ion-help">
        </ons-icon>
      </ons-list-item>
    </ons-list>
</ons-template>

<!-- Settings page -->
<ons-template id="settings.html">
  <ons-navigator>
    <ons-page
            ng-controller="SettingsController">
      <div ng-include
           ng-init="pageTitle='Settings'"
           src="'toolbar.html'">
      </div>

      <ons-list class="settings-list">
        <ons-list-header>Notifications</ons-list-header>
        <ons-list-item
                class="settings-item"
                modifier="tappable"
                ng-repeat="(setting, value) in settings"
                ng-click="settings[setting] = !settings[setting]">
          {{setting}}
          <ons-icon ng-if="!settings[setting]" icon="fa-square-o"></ons-icon>
          <ons-icon ng-if="settings[setting]" icon="fa-check-square-o"></ons-icon>
        </ons-list-item>
      </ons-list>

      <ons-bottom-toolbar>
        <ons-button
                modifier="large"
                disabled="{{saveDisabled || error}}"
                id="settings-save-button"
                ng-click="saveSettings()">Save</ons-button>
      </ons-bottom-toolbar>
    </ons-page>
  </ons-navigator>
</ons-template>

<!-- About page -->
<ons-template id="about.html">
  <ons-navigator>
    <ons-page>
      <div ng-include
           ng-init="pageTitle='About'"
           src="'toolbar.html'">
      </div>

      <div id="about-page-wrapper" ng-bind-html="page" ng-controller="AboutController">

      </div>
    </ons-page>
  </ons-navigator>
</ons-template>



</body>
</html>
